* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #a9a9a9;
}
body {
  background-color: #efefef;
  font-family: "Source Sans Pro", sans-serif;
}
main {
  padding-top: 25px;
}
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
  font-weight: bold;
  margin: 0;
  padding: 0.5em 0 0.5em 0.5em;
  font-size: 20px;
  color: #a9a9a9;
  z-index: 5;
}
.header:last-child {
  align-content: end;
  font-size: 18px;
  vertical-align: middle;
}
.header__tittle {
  display: inline;
  padding-left: 2px;
}
.header-nav-menu {
  display: inline;
  padding-right: 8px;
}
.nav-logo__tagline {
  text-align: left;
  font-size: 22px;
}
.logo {
  width: 20px;
  vertical-align: middle;
}
.tagline {
  display: inline-block;
  padding: 0 0 0 0.5em;
  font-weight: normal;
  font-size: 0.8em;
  font-size: 14px;
}
.main-nav {
  display: inline;
}
.header__tittle a {
  text-decoration: none;
}
.header__tittle a:hover {
  color: #000;
}
.main-nav__item {
  display: inline;
}
.main-nav__item a {
  padding: 0 2px;
  padding-left: 5px;
  border-left: solid 1px white;
  text-decoration: none;
}
.main-nav__item a:hover {
  color: #000;
}

aside {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 1.5vw;
  width: 18.5vw;
  height: 85vh;
}
.aside__div {
  background-color: #fff;
  height: 23%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: solid 1px rgb(192, 192, 192);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(169, 169, 169, 0.75);
}
.aside__div:hover {
  background-color: #c7c7c7;
}
.aside__div--img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}
@supports (object-fit: cover) {
  .aside__div img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.div-main {
  display: flex;
}
.container {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: justify;
  display: inline-block;
  width: 77vw;
  border: solid 1px rgb(192, 192, 192);
  border-radius: 10px;
  height: 83vh;
  background-color: #fff;
}
.grid-container {
  width: 100%;
  margin: 3.5rem 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto 10rem;
  grid-gap: 1px;
  align-items: center;
  max-height: 80%;
  min-height: 70%;
  background: url(../images/aventadorsvj.jpg);
  background-size: cover;
  background-position: center;
}
.grid-container div {
  text-align: center;
  align-items: center;
}
.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / span 3;
}
.item2 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}
.item4 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}
.item5 {
  grid-column: 5 / span 1;
  grid-row: 3 / span 1;
}
.item6 {
  grid-column: 6 / span 1;
  grid-row: 5 / 6;
}

.carrousel__image {
  display: inline;
}
.carrousel__image--style {
  min-width: 150px;
  max-width: 250px;
}
.carrousel__button {
  display: block;
}
.item6--buton-style {
  background: none;
  padding: 10px;
  margin: 0.5rem 0;
  width: 7rem;
  border: solid 1px white;
  border-radius: 10px;
  color: #fff;
  display: block;
  text-align: center;
  justify-content: center;
}
.item6--buton-style:hover {
  background-color: #000;
}
.footer {
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  font-size: 16px;
  color: white;
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.social-media {
  display: flex;
  vertical-align: middle;
}
.footer:first-child {
  align-content: end;
}
.footer__social-img {
  padding: 0 3px;
  width: 25px;
}
.paleta {
  background-color: #caebf2;
  background-color: #a9a9a9;
  background-color: #f33b3f;
  background-color: #efefef;
}
